@model PaymentLinkResponse
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <label class="form-label">Name</label>
                <label class="form-label">@Model.customer.name</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Contact</label>
                <label class="form-label">@Model.customer.contact</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Email</label>
                <label class="form-label">@Model.customer.email</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Amount</label>
                <label class="form-label">@(Model.amount / 100)</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Short Link</label>
                <label class="form-label">@Model.short_url</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="form-label">Status</label>
                <label class="form-label">@Model.status</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Currency</label>
                <label class="form-label">@Model.currency</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Notify Email</label>
                <label class="form-label">@Model.notify.email</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Notify SMS</label>
                <label class="form-label">@Model.notify.sms</label>
            </div>
            <div class="col-md-2">
                <label class="form-label">Notify WhatsApp</label>
                <label class="form-label">@Model.notify.whatsapp</label>
            </div>
        </div>
    </div>
</div>